*,
*::before,
*::after {
  box-sizing: border-box;
}

/* #region Rootsettings */

:root {
  --textcolor1: #ffffff;
  --textcolor2: #8888b0;
  --green: #4caf7a;
  --red: #c53d3d;

  --gold: #e8b84a;
  --silver: #cbcbcc;
  --platinum: #cbd8f1;
  --palladium: #ddb3e2;

  --bgcolor1: #13131e;
  --bgcolor2: #0b0b12;
  --bgcolor3: #1c1c2a;

  /* Font Sizes */
  --fs-2xs: 0.6875rem;
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-display: 2.75rem;

  /*Background-Gradients */
  --bgtotal: linear-gradient(165deg, #08080c, #0e0e1a);
  --bgnews: linear-gradient(165deg, #08080c, #0e0e1a);
  --bgkaufen1: linear-gradient(165deg, #05060c, #13131e);
  --bgkaufen2: linear-gradient(120deg, transparent, rgba(217, 136, 69, 0.4));

  /*Button Gradients*/
  --btn1: linear-gradient(180deg, #39394a, #8888b0);

  /*Metall-Gradients */

  /*Gold*/
  --gold-btn-border: linear-gradient(
    135deg,
    rgba(188, 142, 33, 0.48),
    rgba(255, 204, 84, 0.6)
  );
  --gold-btn-fill: linear-gradient(90deg, #13131e, #1f1a0e);
  --gold-btn-text: linear-gradient(270deg, #fae5b7, #ffd8a5, #fae5b7);

  --gold-border-left: linear-gradient(
    235deg,
    rgba(231, 196, 118, 0.16),
    rgba(255, 204, 84, 0.8)
  );
  --gold-border-right: linear-gradient(
    135deg,
    rgba(231, 196, 118, 0.16),
    rgba(255, 204, 84, 0.8)
  );

  /*Silver*/
  --silver-btn-border: linear-gradient(
    135deg,
    rgba(175, 175, 175, 0.6),
    rgba(239, 239, 239, 0.6)
  );
  --silver-btn-fill: linear-gradient(90deg, #13131e, #29292c);
  --silver-btn-text: linear-gradient(90deg, #ffffff, #c4bfbf, #ffffff);

  --silver-border-left: linear-gradient(
    235deg,
    rgba(92, 100, 115, 0.5),
    #ffffff
  );
  --silver-border-right: linear-gradient(
    135deg,
    rgba(92, 100, 115, 0.5),
    #ffffff
  );

  /*Platinum*/
  --platinum-btn-border: linear-gradient(
    135deg,
    rgba(115, 137, 153, 0.6),
    rgba(192, 229, 255, 0.6)
  );
  --platinum-btn-fill: linear-gradient(90deg, #13131e, #282f34);
  --platinum-btn-text: linear-gradient(90deg, #ffffff, #b2c0d7, #ffffff);

  --platinum-border-left: linear-gradient(
    235deg,
    rgba(92, 100, 115, 0.5),
    #9ccaff
  );
  --platinum-border-right: linear-gradient(
    135deg,
    rgba(92, 100, 115, 0.5),
    #9ccaff
  );

  /*Palladium*/
  --palladium-btn-border: linear-gradient(
    135deg,
    rgba(101, 83, 110, 0.6),
    rgba(195, 161, 212, 0.6)
  );
  --palladium-btn-fill: linear-gradient(90deg, #13131e, #292035);
  --palladium-btn-text: linear-gradient(90deg, #ffffff, #cdcaeb, #ffffff);

  --palladium-border-left: linear-gradient(
    235deg,
    rgba(127, 123, 129, 0.5),
    #b880be
  );
  --palladium-border-right: linear-gradient(
    135deg,
    rgba(127, 123, 129, 0.5),
    #b880be
  );
}

/* #endregion Rootsettings */

.layout {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: minmax(0, 1fr);
  gap: 30px;
  max-width: 1114px;
  margin-inline: auto;
}

/* #region Header */
body {
  background: var(--bgcolor2);
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: last baseline;

  margin-top: 20px;
  width: 100%;
  max-width: 1114px;
  margin-inline: auto;
}

.headercontainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.logocontainer {
  width: 2rem;
}

.logocontainer img {
  height: 2rem;
}

.titlecontainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.site-title {
  font-weight: medium;
  font-size: var(--fs-lg);
  background: linear-gradient(90deg, #fba249, #fdc643, #ffde65);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Fallback for Safari */
  color: transparent;
  padding: 0;
  margin: 0;
  line-height: 0.2; /* Shrinks space on both top AND bottom */
  padding-top: 20px; /* Restores the space on top, effectively only trimming the bottom */
}

.subtitle {
  font-size: var(--fs-xs);
  font-weight: regular;
  padding: 0;
  margin: 0;
  letter-spacing: 0.04em;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

nav a,
nav a:visited {
  position: relative;
  padding: 0px;
  text-decoration: none;
  color: white;
  font-size: var(--fs-sm);
  font-weight: bold;
  text-align: right;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--textcolor2);
  transition: width 0.3s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  color: var(--textcolor2);
  text-decoration: none;
}

/* #endregion Header */

/* #region Tracker */

.edelmetaltracker_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

/* #region Edelmetalwahl */

.edelmetal_wahl {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
  min-width: 0px;

}


.metal-btn {
  flex: 1 1 auto;
  min-width: 80px;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 600;
  font-size: var(--fs-md);
  height: 43px;
  border: 1.5px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.metal-btn.gold {
  background:
    var(--gold-btn-fill) padding-box,
    var(--gold-btn-border) border-box;
  min-width: 60px;
}

.metal-btn.gold .metal-icon {
  background: var(--gold-btn-text);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.metal-btn.silver {
  background:
    var(--silver-btn-fill) padding-box,
    var(--silver-btn-border) border-box;
  min-width: 60px;
}

.metal-btn.silver .metal-icon {
  background: var(--silver-btn-text);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.metal-btn.platinum {
  background:
    var(--platinum-btn-fill) padding-box,
    var(--platinum-btn-border) border-box;
}

.metal-btn.platinum .metal-icon {
  background: var(--platinum-btn-text);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.metal-btn.palladium {
  background:
    var(--palladium-btn-fill) padding-box,
    var(--palladium-btn-border) border-box;
}

.metal-btn.palladium .metal-icon {
  background: var(--palladium-btn-text);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* #endregion Edelmetalwahl */

/* #region Pricetracker */

#price-container {
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 170px;
}

.price-container-gold {
  background:
    radial-gradient(
        circle at 80% 50%,
        rgba(253, 198, 67, 0.1) 0%,
        transparent 60%
      )
      padding-box,
    linear-gradient(var(--bgcolor1), var(--bgcolor2)) padding-box,
    var(--gold-border-right) border-box;
}

.price-container-silver {
  background:
    radial-gradient(
        circle at 80% 50%,
        rgba(250, 241, 220, 0.1) 0%,
        transparent 60%
      )
      padding-box,
    linear-gradient(var(--bgcolor1), var(--bgcolor2)) padding-box,
    var(--silver-border-right) border-box;
}

.price-container-platinum {
  background:
    radial-gradient(
        circle at 80% 50%,
        rgba(74, 198, 232, 0.1) 0%,
        transparent 60%
      )
      padding-box,
    linear-gradient(var(--bgcolor1), var(--bgcolor2)) padding-box,
    var(--platinum-border-right) border-box;
}

.price-container-palladium {
  background:
    radial-gradient(
        circle at 80% 50%,
        rgba(129, 74, 232, 0.1) 0%,
        transparent 60%
      )
      padding-box,
    linear-gradient(var(--bgcolor1), var(--bgcolor2)) padding-box,
    var(--palladium-border-right) border-box;
}
.price-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-sm);
  font-weight: bold;
}

.metal-name {
  text-transform: capitalize;
}

.price-display {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.liveindicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.live-dot {
  animation: pulsieren 4s infinite;
  background-color: var(--green);
  border-radius: 50%;
  display: inline-block;
}

@keyframes pulsieren {
  0% {
    width: 4px;
    height: 4px;
    opacity: 40%;
  }
  50% {
    width: 5px;
    height: 5px;
    opacity: 100%;
  }
  100% {
    width: 4px;
    height: 4px;
    opacity: 40%;
  }
}

.live-text {
  color: var(--green);
  font-weight: 700;
}

.price-value {
  font-size: var(--fs-display);
  font-weight: bold;
}

.price-currency,
.slash,
.unit-label,
.change-value,
.change-label {
  font-size: var(--fs-2xs);
}

/* #endregion Pricetracker */

/* #region Währung und Einheits Buttons */

#lottie-btn-oben,
#lottie-btn-unten,
#lottie-btn-2-oben,
#lottie-btn-2-unten {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.waehrungundeinheitcontainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.waehrungscontainer {
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  border: 1px solid transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.einheitscontainer {
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  border: 1px solid transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.btn-einheit {
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  color: var(--textcolor1);
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 10px 20px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttoncontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-waerung {
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  color: var(--textcolor1);
  border: 1px solid transparent;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.waehrungs-label,
.einheits-label {
  color: var(--textcolor2);
  font-size: var(--fs-2xs);
}

/* #endregion Währung und Einheits Buttons */

/* #region Graphen */

.graphcontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* #region Graphencontrolls */

.graphcontrols-container {
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  border: 1px solid transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 8px 15px;
  height: 59px;
  gap: 5px;
}

.graphcontrolbtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;

}

.graphcontrols-label {
  color: var(--textcolor2);
  font-size: var(--fs-2xs);
}

.btn-zeitspanne {
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  color: var(--textcolor1);
  border-radius: 8px;
  padding: 8px 0px;
  font-weight: 600;
  font-size: var(--fs-xs);
  height: 26px;
  width: 65px;
  border: 1.5px solid transparent;
  display: grid;
  place-items: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #endregion Graphencontrolls */

/* #region graphdisplay */
.graph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-sm);
  font-weight: bold;
}

.graph {
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--gold-border-right) border-box;
  border: 1px solid transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  height: 300px; /* Changed from min-height to height to stop the infinite growth loop */
}

.graphdisplaycontainer {
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  border: 1px solid transparent;
  border-radius: 12px;
  position: relative;
  height: 100%;
  min-height: 200px;
  overflow: hidden;
  padding: 20px;
  gap: 10px;
}

#chart-placeholder {
  display: none; /* Initially hidden, will be shown if there's an error */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--textcolor2);
  font-size: var(--fs-sm);
}

#priceChart {
  display: block;
}

/* #endregion Graphen */

/* #region Nachrichten*/
.newssection {
  background: var(--bgnews) padding-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.newscontainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.news-label {
  font-size: var(--fs-xl);
  font-weight: bold;
  padding-left: 20px;
}

.articlecontainer {
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  border: 1px solid transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.articletitle {
  font-size: var(--fs-md);
}

.articletext {
  font-size: var(--fs-sm);
}

.weiterlesen-button-container {
  display: flex;
  justify-content: flex-end;
}

.weiterlesen-btn {
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  border: 1px solid transparent;
  color: var(--textcolor1);
  font-size: var(--fs-2xs);
  font-weight: bold;
  border-radius: 6px;
  height: 26px;
  width: 71px;
}


/* #endregion Nachrichten*/

/* #region Kaufen Verkaufen Section*/

.kaufen_verkaufen_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.kaufen-label {
  font-weight: bold;
  font-size: var(--fs-xl);
  padding: 0;
  margin-top: 30px;
}

.kaufen_verkaufen_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* #region Kaufen Verkaufen Interface */

.kaufen_verkaufen_interfacecontainer {
  background:
    linear-gradient(rgba(30, 93, 59, 0.25), rgba(16, 42, 28, 0.15)) padding-box,
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  border: 1px solid transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  min-height: 169px;
}

/* #region Kaufen Verkaufen Header */
.kaufen_verkaufen_header {
  display: flex;
  flex-direction: row;
  gap: 15px;
}


.verkaufen-label {
  font-size: var(--fs-sl);
  font-weight: bold;
  color: var(--textcolor1);
  opacity: 0.5;
  align-self: baseline;
}

/* #region Toggle Button */

.kaufen_verkaufen-btn-toggle {
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  color: var(--textcolor1);
  border: 1px solid transparent;
  border-radius: 10px;
  height: 20px;
  width: 40px;
  gap: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.btn-toggle {
  display: none;
}

.toggle-label {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.btn-toggle:checked + .toggle-label::after {
  transform: translateX(20px);
  background: var(--red);
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.toggle-label::after {
  content: "";
  position: absolute;
  top: 0px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: var(--green);
  left: 0px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

/* #endregion Toggle Button */

/* #endregion Kaufen Verkaufen Header */

.kaufen_verkaufen-interface {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.menge-label {
  color: var(--textcolor2);
  font-size: var(--fs-xs);
}

/* #region Mengeneingabe */

.mengeneingabe {
  gap: 10px;
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  border: 1px solid transparent;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}

.mengeneingabeinput {
  background: transparent;
  border: none;
  position: relative;
  font-size: var(--fs-sm);
  color: var(--textcolor1);
  height: 100%;
  margin-left: 20px;
}

.mengeneingabeinput:focus {
  outline: none;
}

.einheitsanzeige {
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  border: none;
  border-left: 1px solid transparent;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-md);
  color: var(--textcolor1);
  align-self: stretch;
}

.einheitsanzeige span {
  border: none;
  background: transparent;
  font-weight: bold;
}

/* #endregion Mengeneingabe */

.kaufen_verkaufen-btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.kaufen_verkaufen-btn {
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  color: var(--textcolor1);
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 10px 20px;
  gap: 10px;
  display: flex;
  align-items: center;
}

/* #endregion Kaufen Verkaufen Interface */

/* #region Bestandesrechner */

.bestandsrechnercontainer {
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  border: 1px solid transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  height: 193px;
}

.bestandesrechner-interface {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.bestandesrechner-mengeneingabeinput {
  background: transparent;
  border: none;
  position: relative;
  font-size: var(--fs-sm);
  color: var(--textcolor1);
  height: 100%;
  margin-left: 20px;
}
.bestandesrechner-einheitsanzeige {
  background:
    linear-gradient(var(--bgcolor1), var(--bgcolor1)) padding-box,
    var(--btn1) border-box;
  border: none;
  border-left: 1px solid transparent;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-md);
  color: var(--textcolor1);
  align-self: stretch;
}

.Gesamtwert-interface {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
}

/* #endregion Bestandesrechner */

.kaufen_verkaufen_rechte_spalte, .kaufen_verkaufen_linke_spalte {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.kaufen_verkaufen_imagecontainer {
    display: none;
  }

/* #endregion Kaufen Verkaufen Section*/

/* Footer */

.footer-navcontainer, .copierightcontainer{
  min-width: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  }

/*  Responsive Design Tablet */

@media (min-width: 624px) {
  /* Font Sizes Tablet */
  :root {
    --fs-2xs: 0.6875rem;
    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-md: 1rem;

    --fs-lg: 1.375rem;
    --fs-xl: 1.75rem;
    --fs-display: 3.25rem;
  }

  body {
    margin: 30px 10%;
  }

  header {
    flex-direction: row;
    align-items: last baseline;
  }

  .layout {
    grid-template-columns: minmax(0, 1fr);  /* ← DAS ist der entscheidende Fix */
    gap: 60px;
  }

  .trackersection {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #price-container {
    min-width: 350px;
  }

  .edelmetaltracker_container {
    display: flex;
    flex-direction: column;
    max-width: 374px;
  }

  .edelmetal_wahl {
    grid-area: wahl;
    display: flex;
    min-width: 0px;
    flex-wrap: nowrap;
  }

  .graphcontrols-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    min-width: 0px;
    padding: 0px 15px;
    width: 100%;
    height: 43px;
  }

  .graphcontrols-label {
    font-size: var(--fs-sm);
    color: var(--textcolor2);
    font-weight: bold;
  }

  .graphcontrolbtns {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }

  .btn-zeitspanne {
    width: 80px;
    height: 31px;
    font-size: var(--fs-sm);

}

  #price-container {
    grid-area: preis;
  }

  #lottie-btn-oben, #lottie-btn-2-oben  {
  }

  .waehrungundeinheitcontainer {
    grid-area: rechts;
    display: flex;
    flex-direction: column;

    max-width: 80%;
  }

 /* region Kaufen / Verkaufen */

 h1.kaufen-label {
    font-size: var(--fs-xl);
    padding: 0;
    margin-top: 30px;
  }

  .kaufen_verkaufen_linke_spalte {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 374px;
  }

  .kaufen_verkaufen_rechte_spalte {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
     max-width: 374px;
  }

  .waehrungundeinheitcontainer{
    flex-direction: row;
     max-width: 100%;
  }

 

.kaufen_verkaufen_imagecontainer {
    display: none;
  }
}
/*  Responsive Design Desktop */

@media (min-width: 950px) {
  /* Font Sizes Desktop */
  :root {
    --fs-2xs: 0.6875rem;
    --fs-xs: 0.75rem;

    --fs-sm: 0.9375rem;

    --fs-md: 1rem;

    --fs-lg: 1.5rem;
    --fs-xl: 2rem;
    --fs-display: 4rem;
  }

  .layout {
    grid-template-columns: minmax(0, 1fr);  /* ← DAS ist der entscheidende Fix */
    gap: 80px;
  }

  body {
    margin: 30px 4%;
  }

  h1.kaufen-label {
    font-size: var(--fs-xl);
    padding: 0;
    margin-top: 30px;
  }

  nav {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    min-width: 0;
  }

  /* region Trackersection */

  .trackersection {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Sorgt dafür, dass Graph und Tracker-Box gleich hoch sind */
    gap: 50px;
    min-width: 0;
  }

 .edelmetaltracker_container {
    display: flex;
    flex-direction: column;
    flex: 0 0 374px; /* Fixer Anker */
    min-width: 0;
    margin: 0;
  }

  .edelmetal_wahl {
    display: flex;
    min-width: 0px;
    flex-wrap: nowrap;
  }

  .waehrungundeinheitcontainer {
    flex-direction: row;
     max-width: 100%;
  }

  .graphcontainer {
    flex: 1;
    min-width: 0; /* Zwingt den Container zum Schrumpfen */
  }

  .graphcontrols-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    min-width: 0px;
    padding: 0px 15px;
    width: 100%;
    height: 43px;
  }

  .graphcontrols-label {
    font-size: var(--fs-sm);
    color: var(--textcolor2);
    font-weight: bold;
  }

  .graphcontrolbtns {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
  }

  .btn-zeitspanne {
    width: 70px;
    height: 31px;
    font-size: var(--fs-sm);

}
  .graph {
    flex: 1;
    height: 300px;
    min-width: 0;
    max-width: 100%;
  }

  /* #endregion Trackersection */

  /* region Kaufen / Verkaufen Section */

  .kaufen_verkaufen_section {
    min-width: 0;
  }

  .kaufen_verkaufen_body_container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
  }

  .kaufen_verkaufen_container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 50px;
    flex: 0 0 auto; 
    min-width: 0;
  }

  .kaufen_verkaufen_linke_spalte {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 374px;
  }

  .kaufen_verkaufen_rechte_spalte {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
     max-width: 374px;
  }

  .kaufen_verkaufen_imagecontainer {
    display: none;
  }



  
}


@media (min-width: 1040px) {

  .graphcontrols-label {
    font-size: var(--fs-md);
    color: var(--textcolor1);
    font-weight: bold;
  }

  .graphcontrolbtns {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }

  .btn-zeitspanne {
    width: 80px;
    height: 31px;
    font-size: var(--fs-sm);

  }

  .graphcontrols-container {
    min-width: 0px;
    padding: 0px 20px;
    width: 100%;
    height: 43px;
    gap: 20px;
  }

  .kaufen_verkaufen_body_container {
    align-items: center;
  }
  .kaufen_verkaufen_imagecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 200px;
    min-width: 0; /* Erlaubt das Schrumpfen des Bildes */
    overflow: hidden;
    width: 100%;   
    height: 100%;   
    object-fit: contain; 
  }
} 

